<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li>a {
            color:#0f1056;
        }

        .foot-head{
            color:midnightblue;
            font-weight:bold;
        }
       
    </style>
</head>
<body>
    <footer class="pt-4 pb-2" style="background-color:#81b1ce;">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-4">
              <h5 class="mb-3 foot-head">About Amazon</h5>
              <p class="small">Your trusted online store since 2001. We offer curated fashion,house hold essentials and many other products with fast shipping, easy returns, and 24/7 support.</p>
              <div class="social-links d-flex gap-2">
                <a href="#"><i class="fa-brands fa-facebook-f fa-xl" style="color:#0f1056;"></i></a>
                <a href="#"><i class="fa-brands fa-twitter fa-xl" style="color:#0f1056;"></i></a>
                <a href="#"><i class="fa-brands fa-instagram fa-xl" style="color:#0f1056;"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in fa-xl" style="color:#0f1056;"></i></a>
              </div>
            </div>
            <div class="col-md-2 mb-4 ">
              <h5 class="mb-3 foot-head" >Quick Links</h5>
              <ul class="list-unstyled px-2">
                <li class="mb-2"><a href="#" class="text-decoration-none small">Home</a></li>
                <li class="mb-2"><a href="#" class="text-decoration-none small">Shop</a></li>
                <li class="mb-2"><a href="#" class="text-decoration-none small">About</a></li>
                <li class="mb-2"><a href="#" class="text-decoration-none small">Contact</a></li>
              </ul>
            </div>
            
            <div class="col-md-3 mb-4">
              <h5 class="mb-3 foot-head">Customer Service</h5>
              <ul class="list-unstyled px-2">
                <li class="mb-2"><a href="#" class="text-decoration-none small">Shipping Policy</a></li>
                <li class="mb-2"><a href="#" class="text-decoration-none small">Return Policy</a></li>
                <li class="mb-2"><a href="#" class="text-decoration-none small">FAQ</a></li>
                <li class="mb-2"><a href="#" class="text-decoration-none small">Privacy Policy</a></li>
              </ul>
            </div>
            
            <div class="col-md-3 mb-4">
              <h5 class="mb-3 foot-head">Contact Us</h5>
              <ul class="list-unstyled small px-2">
                <li class="mb-2"><i class="fas fa-map-marker-alt"></i> Amzon Building,Manayata Embassy Buisness Park,Nagawara Outer Ring Road, Hebbal Kempapura, Bangalore, Karnataka </li>
                <li class="mb-2"><i class="fas fa-phone"></i> Helpdesk@amazon.in</li>
                <li class="mb-2"><i class="fas fa-envelope"></i> +91 0123456789</li>
              </ul>
            </div>
          </div>
          
          <hr class="my-4 bg-secondary">
          
          <!-- Copyright -->
          <div class="row">
            <div class="col-12 text-center small">
              <p class="mb-0"> &copy; 2025 Amazon. All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>