{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Amazon | Reset Password {% endblock %}

{% block body %}
<style>
    label{
        font-size:1.3em;
        margin:2px 0;
        font-weight:600;
    }
</style>
<div class="container">
    <div class="card my-2 mx-auto w-50 p-2 border-0">
        <div class="card-header text-center">
            <img src="{% static 'images/amazonlogo.svg' %}" alt="amazon" height="100%"  width="150px" >
            <p class="card-title h3">Hi {{user.username}},Reset Password</p>
        </div>
        <div class="card-body w-75 mx-auto">
            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <div class="col-md-12 my-3 text-center">
                    <input type="submit" value="click to Reset Password" class="btn btn-primary w-50">
                </div> 
            </form> 
        </div>
    </div>     
</div>

{% endblock %}